@import "~antd/dist/antd.less";

@primary-color: #7083ad;
@secondary-color: #a2b3cf;
@tertiary-color: #d4d9dc;
.btn-radius() {
  border: 0px white solid;
  border-radius: 50px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
}

.max-height {
  height: 100%;
}

//Login
.login-background {
  background-image: url("../assets/Login_Background.png");
}

.right-container {
  background-color: #fff;
  margin: auto 0;
  display: table;
  vertical-align: middle;
  width: 100%;
}

.login-form-container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  form {
    padding: 0 3%;
  }
}

.float-container {
  display: flex;
  flex-direction: column;
  margin: 7px auto;
  max-width: 455px;
  position: relative;
  input {
    width: 100%;
    height: 3.5rem;
    padding: 20px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  label {
    font-size: 20px;
    margin-top: -11px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px;
    color: #999;
    pointer-events: none;
    position: absolute;
    transform: translate(0, 26px) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
  }
  &:focus-within label {
    transform: translate(0, 12px) scale(0.75);
  }
  .active {
    transform: translate(0, 12px) scale(0.75);
  }
}

.remember-register-container {
  text-align: center;
  justify-content: center;
  width: 100%;
  .remember-me-container {
    float: left;
  }
  .register-container {
    float: right;
  }
}

.login-title-container {
  text-align: center;
}

.login-btn-container {
  text-align: center;
  justify-content: center;
  margin: 35px auto;
  padding: 10px 0;
  .login-btn {
    .btn-radius();
    padding: 10px 0;
    height: 100%;
    font-size: 1.1rem;
    width: 70%;
    max-width: 400px;
  }
}

.oAuth-icons {
  font-size: 2rem;
  text-align: center;
  a {
    margin: 0 2%;
    padding: 0 2px;
    transition: 0.7s;
    &:hover {
      background-color: @primary-color;
      border-radius: 10px;
      opacity: 0.7;
    }
  }
}
